<div class="welcome">
  <span class="welcome-text">
    My Workouts
  </span>
</div>

<ul class="calendar">
    <li class="title">June 4-10</li>
    <li class="day-header">
        <div class="large-1 day">Sun</div>
        <div class="large-1 day">Mon</div>
        <div class="large-1 day">Tue</div>
        <div class="large-1 day">Wed</div>
        <div class="large-1 day">Thu</div>
        <div class="large-1 day">Fri</div>
        <div class="large-1 day">Sat</div>
    </li>

    <li class="month">
        <div class="large-1 day">4</div>
        <div class="large-1 day">5</div>
        <div class="large-1 day">6</div>
        <div class="large-1 day">7</div>
        <div class="large-1 day">8</div>
        <div class="large-1 day">9</div>
        <div class="large-1 day">10</div>
    </li>
</ul>
