@import "foundation_and_overrides";
@import "index_and_show";

$border-color:  #000000;

.border {
  border: 2px solid $border-color;
  border-radius: 30px;
  margin: auto;
  padding: 20px 30px 0;
  background-color: rgba($tuatara, $bg-opacity);
  color: $snow;
}

h1 {
  text-align: center;
}

.actions {
  text-align: center;
}

.form-button {
  margin: auto;
}

.back-link {
  margin-top: 20px;
}
