@import "foundation_and_overrides";

$div-bg-color: $tuatara;
$description-bg-color: $jet;

p {
  text-align: center;
  color: $snow;
}

.hover-show {
  float: right;
  background-color: $div-bg-color;
  border-radius: 30px;
}

.bordered-grid {
  background-color: $div-bg-color;
  border: 2px solid $div-bg-color;
  border-radius: 30px;
  margin: 20px;
  padding: 10px;
  height: 450px;
  text-align: center;
  overflow: auto;

  .li-name {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-weight: bold;
    font-size: 20px;
  }

  .li-type, .li-source {
    font-size: 12px;
    margin-bottom: 0;
  }

  img {
    border-radius: 10px;
  }

  img:hover {
    transform: scale(1.75);
  }

  ul {
    list-style-type: none;
    margin: 0;
    li {
      margin-bottom: 7px;
    }
  }
}

.bordered-grid:hover {
  transform: scale(1.1);
}

.description {
  background-color: $description-bg-color;
  border-radius: 15px;
  height: 180px;
  overflow: auto;
  font-size: 12px;
}
