@import "foundation_and_overrides";

$welcome-color: $base;
$div-bg-color: $tuatara;
$bg-opacity: 0.6;
$description-bg-color: $jet;

h1 h2 h3 h4 {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.welcome {
  color: $welcome-color;
  margin: 0;
	padding: 0px 0px 6px 0px;
	font-size: 36px;
	line-height: 44px;
	font-weight: bold;
  font-family: times, Times New Roman, times-roman, georgia, serif;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-align: center;
}

.body-img {
  float: left;
  opacity: 0.9;
  text-align: center;
}

.hover-show {
  margin-left: 540px;
  margin-right: 10px;
  padding-top: 200px;
  padding-left: 20px;
  padding-right: 20px;
  height: 480px;
  background-color: rgba($div-bg-color, $bg-opacity);
  border-radius: 30px;
  text-align: center;
  vertical-align: middle;
  overflow: auto;
}

.bordered-grid {
  background-color: rgba($div-bg-color, $bg-opacity);
  border: 2px solid $div-bg-color;
  border-radius: 30px;
  margin: 20px;
  padding: 10px;
  height: 450px;
  text-align: center;
  overflow: auto;

  .li-name {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-weight: bold;
    font-size: 20px;
  }

  .li-type, .li-source {
    font-size: 12px;
    margin-bottom: 0;
  }

  img {
    border-radius: 10px;
  }

  img:hover {
    transform: scale(1.75);
  }

  ul {
    list-style-type: none;
    margin: 0;
    li {
      margin-bottom: 7px;
    }
  }
}

.bordered-grid:hover {
  transform: scale(1.1);
}

.description {
  background-color: $description-bg-color;
  border-radius: 15px;
  height: 180px;
  overflow: auto;
  font-size: 12px;
}
