@import "foundation_and_overrides";

$welcome-color: $iron;
$div-bg-color: $tuatara;
$bg-opacity: 0.6;
$description-bg-color: $jet;

.flash-text {
  font-size: 18px;
  text-align: center;
  padding: 5px;
}

#hover-muscles {
  list-style-type: none;
  li {
    display: inline-block;
  }
}


.welcome {
  color: $welcome-color;
  margin: 10px;
	line-height: 44px;
  font-size: 36px;
  font-family: times, Times New Roman, times-roman, georgia, serif;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-align: center;
}

.welcome-home {
  margin: 50px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 48px;
  font-weight: bold;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.body-img {
  float: left;
  opacity: 0.9;
  text-align: center;
}

.hover-show {
  margin-left: 540px;
  margin-right: 10px;
  padding-top: 170px;
  padding-left: 20px;
  padding-right: 20px;
  height: 480px;
  background-color: rgba($div-bg-color, $bg-opacity);
  border-radius: 30px;
  text-align: center;
  overflow: auto;
}

.bordered-grid {
  background-color: rgba($div-bg-color, $bg-opacity);
  border: 2px solid $div-bg-color;
  border-radius: 30px;
  margin: 20px;
  padding: 10px;
  text-align: center;
  overflow: auto;

  .li-name {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-weight: bold;
    font-size: 20px;
  }

  .li-type, .li-source {
    font-size: 12px;
    margin-bottom: 0;
  }

  img {
    border-radius: 10px;
  }

  .ex-gif:hover {
    transform: scale(1.6);
  }

  ul {
    list-style-type: none;
    margin: 0;
    li {
      margin-bottom: 7px;
    }
  }
}

.bordered-grid:hover {
  transform: scale(1.2);
}

.description {
  background-color: $description-bg-color;
  border-radius: 15px;
  height: 180px;
  overflow-x: hidden;
  font-size: 14px;
}

.edit-avatar {
  border-radius: 500px;
}
