@import "foundation_and_overrides";

$div-bg-color: $tuatara;
$description-bg-color: $jet;

.bordered-grid {
  background-color: $div-bg-color;
  border: 2px solid $div-bg-color;
  border-radius: 30px;
  margin: 20px;
  padding: 10px;
  height: 400px;
  text-align: center;
  overflow: auto;

    ul {
      list-style-type: none;
      li {
        margin-bottom: 7px;
      }
    }
}

.bordered-grid:hover {
  margin: 10px;
}

.description {
  background-color: $description-bg-color;
  border-radius: 15px;
  height: 150px;
  overflow: auto;
  font-size: 12px;
}
