<div class="welcome welcome-home">
  <span class="welcome-text">
    Welcome to livt, the web application that gives lifters the freedom to fully customize their workouts!
  </span>
</div>

<div class="body-img">
  <%= image_tag asset_path('home_image.png'), id: "blank-body", usemap: "#body-map" %>
  <map id="body-map" name="body-map">
    <area target="" title="Back" class="body-area" shape="POLYGON" href="#Back" coords="427, 179, 428, 189, 427, 198, 390, 198, 389, 189, 389, 184, 392, 177, 395, 168, 399, 161, 418, 162" id="4-0" />
    <area target="" title="Back" class="body-area" shape="POLYGON" href="#Back" coords="191, 117, 187, 129, 188, 143, 188, 159, 190, 150, 192, 140, 192, 123" id="4-1" />
    <area target="" title="Back" class="body-area" shape="POLYGON" href="#Back" coords="110, 117, 114, 129, 113, 159, 111, 152, 109, 143" id="4-2" />
    <area target="" title="Back" class="body-area" shape="POLYGON" href="#Back" coords="454, 122, 453, 135, 451, 147, 445, 167, 441, 178, 432, 194, 424, 172, 412, 152, 415, 144, 419, 135, 427, 121, 432, 123, 439, 125, 449, 124, 453, 122" id="4-3" />
    <area target="" title="Back" class="body-area" shape="POLYGON" href="#Back" coords="363, 121, 369, 124, 375, 124, 383, 123, 390, 122, 398, 137, 405, 153, 398, 162, 393, 173, 386, 196, 377, 180, 371, 169, 369, 158, 365, 145, 364, 140, 363, 134" id="4-4" />
    <area target="" title="Back" class="body-area" shape="POLYGON" href="#Back" coords="453, 98, 456, 101, 454, 122, 443, 124, 431, 121, 444, 113" id="4-5" />
    <area target="" title="Back" class="body-area" shape="POLYGON" href="#Back" coords="363, 99, 361, 100, 363, 121, 368, 123, 373, 124, 387, 122, 370, 110, 367, 104" id="4-6" />
    <area target="" title="Back" class="body-area" shape="POLYGON" href="#Back" coords="437, 89, 434, 91, 431, 98, 429, 107, 427, 119, 431, 121, 444, 113, 453, 98, 438, 90" id="4-7" />
    <area target="" title="Back" class="body-area" shape="POLYGON" href="#Back" coords="379, 89, 382, 90, 385, 98, 387, 109, 390, 121, 387, 122, 370, 110, 368, 104, 363, 98" id="4-8" />
    <area target="" title="Back" class="body-area" shape="POLYGON" href="#Back" coords="164, 75, 172, 91, 179, 91, 183, 89, 173, 83" id="4-9" />
    <area target="" title="Back" class="body-area" shape="POLYGON" href="#Back" coords="136, 76, 129, 91, 121, 91, 116, 89, 127, 84" id="4-10" />
    <area target="" title="Back" class="body-area" shape="POLYGON" href="#Back" coords="399, 53, 418, 53, 420, 63, 424, 70, 440, 80, 447, 83, 455, 84, 450, 87, 436, 87, 432, 94, 430, 102, 427, 115, 424, 126, 417, 138, 412, 150, 408, 162, 399, 138, 390, 121, 386, 102, 384, 94, 381, 89, 378, 87, 364, 84, 370, 83, 390, 72, 396, 66" id="4-11" />
    <area target="" title="Arms" class="body-area" shape="POLYGON" href="#Arm" coords="467, 168, 474, 176, 481, 175, 486, 159, 491, 165, 495, 174, 497, 179, 499, 188, 503, 204, 505, 210, 491, 218, 484, 207, 476, 194, 471, 183, 467, 174" id="2-0" />
    <area target="" title="Arms" class="body-area" shape="POLYGON" href="#Arm" coords="349, 168, 348, 174, 344, 184, 334, 202, 322, 219, 309, 212, 312, 202, 314, 192, 318, 179, 323, 167, 331, 158, 331, 165, 333, 174, 340, 177" id="2-1" />
    <area target="" title="Arms" class="body-area" shape="POLYGON" href="#Arm" coords="223, 160, 234, 175, 236, 183, 239, 194, 243, 204, 246, 212, 233, 219, 230, 212, 225, 207, 213, 190, 208, 180, 206, 174, 207, 173, 209, 171, 211, 171, 221, 176, 220, 169" id="2-2" />
    <area target="" title="Arms" class="body-area" shape="POLYGON" href="#Arm" coords="79, 160, 82, 170, 92, 168, 96, 174, 95, 180, 90, 188, 88, 193, 85, 198, 77, 208, 71, 218, 57, 212, 60, 205, 63, 198, 65, 188, 67, 180, 69, 173, 72, 169, 76, 164" id="2-3" />
    <area target="" title="Arms" class="body-area" shape="POLYGON" href="#Arm" coords="194, 116, 212, 131, 216, 138, 218, 148, 222, 159, 220, 170, 210, 167, 209, 161, 201, 150, 195, 132" id="2-4" />
    <area target="" title="Arms" class="body-area" shape="POLYGON" href="#Arm" coords="107, 117, 105, 138, 102, 149, 95, 160, 93, 163, 92, 168, 83, 170, 80, 160, 83, 152, 87, 134" id="2-5" />
    <area target="" title="Arms" class="body-area" shape="POLYGON" href="#Arm" coords="192, 129, 195, 132, 200, 148, 208, 160, 210, 164, 210, 168, 205, 164, 204, 168, 197, 153, 193, 146, 192, 139" id="2-6" />
    <area target="" title="Arms" class="body-area" shape="POLYGON" href="#Arm" coords="106, 132, 109, 129, 109, 143, 104, 155, 98, 167, 97, 164, 92, 167, 95, 160, 102, 149, 105, 139" id="2-7" />
    <area target="" title="Arms" class="body-area" shape="POLYGON" href="#Arm" coords="362, 109, 363, 132, 361, 141, 357, 150, 349, 167, 342, 169, 334, 167, 331, 158, 336, 143, 341, 128, 342, 126, 346, 122, 355, 113" id="2-8" />
    <area target="" title="Arms" class="body-area" shape="POLYGON" href="#Arm" coords="455, 110, 460, 111, 466, 118, 471, 123, 474, 126, 476, 129, 481, 147, 484, 157, 481, 167, 473, 169, 466, 167, 460, 149, 456, 144, 453, 135, 455, 110" id="2-9" />
    <area target="" title="Shoulders" class="body-area" shape="POLYGON" href="#Shoulders" coords="437, 89, 456, 99, 457, 106, 461, 112, 473, 124, 473, 115, 471, 105, 468, 97, 464, 92, 459, 88, 452, 87, 441, 88, 438, 88" id="3-0" />
    <area target="" title="Shoulders" class="body-area" shape="POLYGON" href="#Shoulders" coords="380, 89, 366, 87, 357, 89, 350, 94, 346, 102, 344, 110, 342, 126, 353, 115, 358, 108, 361, 100, 371, 93" id="3-1" />
    <area target="" title="Shoulders" class="body-area" shape="POLYGON" href="#Shoulders" coords="450, 87, 455, 84, 464, 89, 469, 94, 472, 99, 474, 103, 476, 112, 476, 123, 476, 128, 473, 125, 472, 104, 468, 96, 461, 89" id="3-2" />
    <area target="" title="Shoulders" class="body-area" shape="POLYGON" href="#Shoulders" coords="366, 87, 361, 84, 351, 90, 344, 99, 341, 112, 341, 127, 343, 118, 345, 105, 349, 95, 356, 89" id="3-3" />
    <area target="" title="Shoulders" class="body-area" shape="POLYGON" href="#Shoulders" coords="184, 92, 187, 89, 195, 90, 200, 93, 209, 102, 212, 108, 213, 114, 213, 127, 213, 131, 208, 126, 207, 114, 205, 103, 201, 98, 196, 94" id="3-4" />
    <area target="" title="Shoulders" class="body-area" shape="POLYGON" href="#Shoulders" coords="116, 92, 112, 89, 107, 90, 102, 92, 97, 96, 92, 101, 89, 108, 88, 115, 87, 123, 88, 129, 88, 134, 94, 126, 94, 111, 97, 100, 105, 94" id="3-5" />
    <area target="" title="Shoulders" class="body-area" shape="POLYGON" href="#Shoulders" coords="173, 94, 181, 93, 190, 93, 197, 95, 201, 98, 205, 102, 207, 114, 208, 127, 196, 117, 195, 111, 192, 105, 183, 99" id="3-6" />
    <area target="" title="Shoulders" class="body-area" shape="POLYGON" href="#Shoulders" coords="127, 95, 117, 92, 108, 92, 102, 95, 97, 101, 93, 110, 94, 126, 104, 118, 106, 111, 111, 103" id="3-7" />
    <area target="" title="Legs" class="body-area" shape="POLYGON" href="#Legs" coords="438, 340, 441, 344, 446, 335, 454, 347, 456, 355, 461, 369, 463, 381, 463, 402, 461, 423, 457, 439, 446, 439, 443, 425, 437, 406, 433, 392, 432, 377, 432, 367, 431, 358" id="5-0" />
    <area target="" title="Legs" class="body-area" shape="POLYGON" href="#Legs" coords="365, 334, 370, 344, 373, 339, 379, 358, 377, 368, 376, 390, 371, 405, 364, 422, 360, 439, 349, 440, 345, 416, 344, 396, 346, 377, 349, 365, 354, 353, 357, 345" id="5-1" />
    <area target="" title="Legs" class="body-area" shape="POLYGON" href="#Legs" coords="105, 344, 100, 358, 98, 370, 98, 384, 99, 401, 100, 416, 101, 429, 106, 428, 105, 399, 104, 369, 107, 343" id="5-2" />
    <area target="" title="Legs" class="body-area" shape="POLYGON" href="#Legs" coords="201, 343, 203, 344, 207, 355, 210, 364, 211, 370, 212, 378, 212, 388, 211, 400, 211, 426, 206, 427, 204, 396, 204, 369" id="5-3" />
    <area target="" title="Legs" class="body-area" shape="POLYGON" href="#Legs" coords="180, 357, 186, 364, 189, 371, 192, 384, 197, 425, 190, 402, 185, 391, 181, 377" id="5-4" />
    <area target="" title="Legs" class="body-area" shape="POLYGON" href="#Legs" coords="127, 356, 122, 364, 119, 373, 117, 386, 117, 401, 115, 422, 117, 411, 122, 401, 125, 389, 128, 377" id="5-5" />
    <area target="" title="Legs" class="body-area" shape="POLYGON" href="#Legs" coords="196, 337, 199, 342, 203, 360, 205, 378, 204, 395, 203, 414, 203, 422, 203, 428, 200, 427, 198, 401, 197, 376" id="5-6" />
    <area target="" title="Legs" class="body-area" shape="POLYGON" href="#Legs" coords="111, 336, 108, 342, 104, 370, 107, 404, 108, 417, 109, 429, 111, 428, 112, 375, 112, 368, 112, 359" id="5-7" />
    <area target="" title="Legs" class="body-area" shape="POLYGON" href="#Legs" coords="427, 269, 442, 268, 445, 275, 448, 284, 453, 314, 452, 331, 454, 348, 447, 337, 442, 325, 436, 343, 431, 358, 427, 350, 426, 343, 426, 331, 422, 308, 423, 282" id="5-8" />
    <area target="" title="Legs" class="body-area" shape="POLYGON" href="#Legs" coords="374, 268, 381, 268, 389, 270, 392, 284, 392, 300, 388, 323, 386, 333, 384, 342, 383, 352, 380, 359, 374, 342, 369, 326, 363, 338, 356, 346, 359, 326, 360, 312, 368, 275, 370, 271" id="5-9" />
    <area target="" title="Legs" class="body-area" shape="POLYGON" href="#Legs" coords="452, 251, 455, 263, 455, 276, 452, 310, 449, 294, 448, 285, 448, 276" id="5-10" />
    <area target="" title="Legs" class="body-area" shape="POLYGON" href="#Legs" coords="364, 251, 366, 266, 366, 270, 367, 274, 367, 279, 360, 309, 359, 287, 360, 262" id="5-11" />
    <area target="" title="Legs" class="body-area" shape="POLYGON" href="#Legs" coords="184, 224, 178, 254, 172, 276, 168, 299, 168, 312, 170, 323, 173, 327, 176, 328, 178, 327, 180, 324, 180, 311, 189, 311, 191, 321, 195, 329, 197, 316, 199, 306, 200, 295, 200, 270, 198, 258, 194, 244" id="5-12" />
    <area target="" title="Legs" class="body-area" shape="POLYGON" href="#Legs" coords="117, 222, 110, 239, 106, 250, 104, 261, 104, 280, 104, 294, 106, 310, 111, 329, 117, 317, 117, 312, 125, 312, 125, 320, 126, 324, 128, 327, 131, 328, 135, 326, 137, 315, 136, 299, 132, 282, 120, 242" id="5-13" />
    <area target="" title="Legs" class="body-area" shape="POLYGON" href="#Legs" coords="183, 213, 179, 228, 174, 246, 169, 260, 166, 273, 165, 283, 165, 291, 166, 307, 172, 337, 175, 345, 179, 352, 188, 363, 187, 354, 181, 345, 175, 334, 169, 320, 168, 312, 168, 303, 170, 285, 174, 268, 181, 240, 186, 212" id="5-14" />
    <area target="" title="Legs" class="body-area" shape="POLYGON" href="#Legs" coords="116, 211, 118, 213, 124, 232, 131, 252, 135, 267, 138, 280, 139, 307, 137, 320, 136, 327, 134, 339, 129, 351, 123, 362, 118, 367, 121, 354, 127, 344, 132, 334, 136, 323, 137, 313, 137, 304, 132, 281, 125, 257, 119, 234" id="5-15" />
    <area target="" title="Buttocks" class="body-area" shape="POLYGON" href="#Buttocks" coords="423, 207, 431, 204, 441, 204, 445, 213, 447, 220, 448, 233, 444, 223, 438, 217" id="6-0" />
    <area target="" title="Buttocks" class="body-area" shape="POLYGON" href="#Buttocks" coords="395, 207, 387, 203, 382, 202, 376, 203, 371, 217, 369, 231, 373, 222, 380, 216" id="6-1" />
    <area target="" title="Buttocks" class="body-area" shape="POLYGON" href="#Buttocks" coords="395, 207, 386, 212, 378, 217, 374, 221, 371, 226, 368, 239, 368, 252, 374, 267, 390, 269, 398, 266, 404, 261, 407, 256, 408, 249, 411, 260, 418, 267, 428, 268, 437, 268, 443, 258, 448, 248, 448, 240, 447, 234, 445, 225, 442, 221, 437, 216, 423, 207, 414, 215, 408, 224, 404, 215, 400, 211" id="6-2" />
    <area target="" title="Chest" class="body-area" shape="POLYGON" href="#Chest" coords="129, 94, 142, 96, 150, 111, 156, 95, 169, 94, 180, 99, 190, 105, 191, 111, 189, 122, 186, 130, 179, 135, 172, 138, 162, 137, 152, 135, 150, 131, 149, 131, 147, 136, 134, 138, 118, 134, 113, 124, 110, 111, 112, 104" id="7-0" />
    <area target="" title="Hips" class="body-area" shape="POLYGON" href="#Hips" coords="182, 213, 172, 249, 165, 233" id="8-0" />
    <area target="" title="Hips" class="body-area" shape="POLYGON" href="#Hips" coords="119, 214, 136, 233, 129, 249" id="8-1" />
    <area target="" title="Hips" class="body-area" shape="POLYGON" href="#Hips" coords="165, 233, 168, 241, 172, 250, 168, 262, 166, 276, 165, 291, 165, 305, 158, 283, 154, 269, 153, 254, 157, 252, 159, 249, 160, 244, 163, 237" id="8-2" />
    <area target="" title="Hips" class="body-area" shape="POLYGON" href="#Hips" coords="136, 233, 129, 249, 137, 271, 139, 288, 139, 306, 145, 286, 148, 269, 148, 254, 142, 250, 141, 248, 140, 245, 139, 240" id="8-3" />
    <area target="" title="Hips" class="body-area" shape="POLYGON" href="#Hips" coords="411, 259, 417, 267, 421, 268, 426, 269, 422, 282, 421, 296, 421, 308, 423, 320, 416, 299, 414, 291, 413, 285, 411, 276, 411, 268" id="8-4" />
    <area target="" title="Hips" class="body-area" shape="POLYGON" href="#Hips" coords="390, 270, 398, 266, 405, 260, 405, 271, 404, 279, 401, 290, 389, 321, 393, 293" id="8-5" />
    <area target="" title="Hips" class="body-area" shape="POLYGON" href="#Hips" coords="189, 208, 186, 211, 186, 224, 194, 243, 197, 255, 200, 268, 200, 259, 198, 252, 197, 242, 196, 238, 195, 234, 192, 222" id="8-6" />
    <area target="" title="Hips" class="body-area" shape="POLYGON" href="#Hips" coords="112, 208, 115, 211, 114, 227, 110, 240, 105, 255, 103, 271, 102, 264, 103, 256, 106, 237" id="8-7" />
    <area target="" title="Abdominals" class="body-area" shape="POLYGON" href="#Abdominals" coords="132, 139, 141, 138, 148, 136, 152, 136, 161, 137, 170, 138, 171, 150, 170, 162, 171, 175, 171, 184, 170, 191, 169, 197, 168, 205, 164, 223, 159, 241, 142, 240, 136, 221, 131, 203, 130, 197, 131, 191, 130, 182, 131, 175, 131, 161, 129, 155, 129, 148, 130, 142" id="1-0" />
    <area target="" title="Abdominals" class="body-area" shape="POLYGON" href="#Abdominals" coords="445, 168, 442, 178, 434, 191, 433, 197, 436, 201, 445, 203, 448, 206, 448, 194, 446, 183, 445, 174" id="1-1" />
    <area target="" title="Abdominals" class="body-area" shape="POLYGON" href="#Abdominals" coords="371, 168, 382, 189, 384, 195, 383, 198, 381, 200, 373, 202, 368, 206, 369, 193, 370, 185, 371, 177, 371, 170, 371, 168"id="1-2" />
    <area target="" title="Abdominals" class="body-area" shape="POLYGON" href="#Abdominals" coords="175, 143, 183, 149, 180, 152, 183, 153, 185, 156, 183, 160, 187, 162, 186, 180, 188, 192, 189, 206, 175, 219, 170, 213, 172, 194, 176, 187, 173, 185, 173, 182, 174, 176, 172, 169, 175, 164, 173, 159, 174, 154, 173, 152, 173, 149" id="1-3" />
    <area target="" title="Abdominals" class="body-area" shape="POLYGON" href="#Abdominals" coords="126, 143, 128, 148, 126, 154, 128, 161, 126, 165, 128, 168, 128, 171, 126, 176, 127, 184, 127, 186, 125, 187, 129, 194, 131, 212, 125, 219, 112, 206, 113, 199, 113, 190, 115, 178, 114, 162, 118, 160, 116, 156, 120, 152, 118, 149" id="1-4" />
    <area target="" title="Abdominals" class="body-area" shape="POLYGON" href="#Abdominals" coords="126, 142, 118, 149, 120, 151, 117, 154, 116, 156, 118, 159, 114, 163, 113, 155, 113, 138, 114, 126, 119, 133, 128, 137, 125, 141" id="1-5" />
    <area target="" title="Abdominals" class="body-area" shape="POLYGON" href="#Abdominals" coords="187, 128, 188, 144, 188, 159, 187, 162, 185, 161, 183, 160, 186, 156, 183, 153, 179, 152, 183, 149, 179, 145, 175, 143, 177, 140, 173, 138, 181, 134" id="1-6" />
  </map>
  image source: <%= link_to "freetrainers.com", "https://www.freetrainers.com", target: '_blank' %>
</div>

<div class="hover-show">
  <h3>Hover the mouse over the diagram to the left to see details on muscle groups</h3>
  <h3>Click on images that show up in this window to see related exercises</h3>
  <h2 id="muscle-name"></h2>
  <p id="muscle-desc"></p>
  <ul id="hover-muscles">
    <li></li>
  </ul>
</div>

<%= javascript_include_tag "body_map" %>
